// Sizes
$div-height: 80px;

// Gradients and Shadows
$gradient-1: linear-gradient(45deg, #f77062, #fe5196);
$box-shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.2);
$box-shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-3: 0px 10px 20px rgba(0, 0, 0, 0.3);

// Colors
$white: #ffffff;
$dark-grey: #878787;
$light-grey: #e0e0e0;
$orange: #f77062;

// Fonts
$roboto: Roboto, Tahoma, Geneva, sans-serif;
